<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SR X SPOTIFY</title>
  <link rel="stylesheet" href="Style.css">
  <script src="P3.js" defer></script>
</head>
<body>
<div class="header-container">
  <header>
    <h1>
      <img src="SR_logo.png" alt="SR logo">
      X
      <img src="spotify_logo.png" alt="spotify logo">
    </h1>
    <h2>Här kan du lyssna på Sveriges Radio och hitta låtarna enkelt via Spotify!</h2>
  </header>
  <nav>
    <ul>
      <li>
        <a href="RadioKanaler.html">Radiokanaler</a>
        <div class="dropdown-content">
          <a href="P1.html">P1</a>
          <a href="P2.html">P2</a>
          <a href="P3.html">P3</a>
          <a href="P4.html">P4</a>
        </div>
      </li>
      <li><a href="OmOss.html">Om oss</a></li>
    </ul>
  </nav>
</div>
<main>
  <section id="radioBilder">
    <p>
      <img src="P3img.jpg">
    </p>
  </section>

  <div class="container">
    <button id="play-button">Hämta och Spela P3</button>
    <audio id="P3-player" controls style="display: none;"></audio>
    <button id="playlist-button">Spellista</button>
  </div>

  <div class="playlistContainer">
    <div class="playlist"></div>
  </div>
</main>
</body>
</html>