<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SR X SPOTIFY</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>
<body>
<div class="header-container">
  <header>
    <h1>
      <img src="SR_logo.png" alt="SR logo">
      X
      <img src="spotify_logo.png" alt="spotify logo">
    </h1>
    <h2>Här kan du lyssna på Sveriges Radio och hitta låtarna enkelt via Spotify!</h2>
  </header>
  <nav>
    <ul>
      <li>
        <a href="RadioKanaler.html">Radiokanaler</a>
        <div class="dropdown-content">
          <a href="P1.html">P1</a>
          <a href="P2.html">P2</a>
          <a href="P3.html">P3</a>
          <a href="P4.html">P4</a>
        </div>
      </li>
      <li><a href="OmOss.html">Om oss</a></li>
    </ul>
  </nav>
</div>
<main>
  <section id="radioBilder">
    <p>
      <img src="P4img.jpg">
    </p>
  </section></main>
</body>
</html>